/* .activity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto auto;
  width: 357px;
} */
.activity input, .activity button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px auto;
}

.activity form {
  align-items: center;
}

.activity input {
  border: 4px solid #58b0e0;
  color: #58b0e0;
  font-weight: bold;
  height: 40px;
  padding: 4px;
  text-align: center;
  width: 357px;
}

.activity button {
  align-items: center;
  border: 4px solid #58b0e0;
  height: 40px;
  padding-top: 6px;
  width: 357px;
}
.activity button:hover {
  background-color: #58e087;
  border: 4px solid #58e087;
  color: white;
}
/* It's not fully functional, the  */
.activity-button span:hover {
  color: white;
}
.button-text {
  color: #58b0e0;
  font-size: 16px;
}
@media (min-width: 900px) {
  .activity input {
    height: 60px;
    padding: 4px;
    width: 567px;
  }
  .activity button {
    height: 60px;
    padding-top: 4px;
    width: 567px;
  }
  .button-text {
    font-size: 30px;
  }
}
@media (min-width: 1120px) {
  .activity input {
    height: 60px;
    padding: 4px;
    width: 847px;
  }
  .activity button {
    height: 60px;
    padding-top: 6px;
    width: 847px;
  }
  .button-text {
    font-size: 36px;
  }
}
