.tablerow {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

.tablerow h4 {
  font-size: 15px;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
}

.week {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 0px auto;
  width: 357px;
}

.week h1 {
  padding-right: 0px;
}

.removeButton button {
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  margin: 2px;
  padding: 8px 11px;
  transition: 0.2s;
  text-decoration: none;
}

.removeButton button:hover {
  background-color: #f993b4;
}

.activity-details {
  align-items: center;
  background: #dcdcdc;
  display: flex;
  margin: 1px auto;
  justify-content: space-between;
  width: 357px;
}

@media (max-width: 899px) {
  .week {
    width: 567px;
  }
}

@media (min-width: 900px) {
  .week {
    width: 567px;
  }
  .activity-details {
    width: 567px;
  }
}

@media (min-width: 1120px) {
  .activity-details {
    width: 847px;
  }
  .week {
    width: 847px;
  }
}
