.activity {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding-bottom: 10px;
  position: sticky;
  top: 1px;
}
.activity-wrapper {
  display: flex;
  flex-direction: column;
}
.activity input {
  align-items: center;
  border: 4px solid #58b0e0;
  color: #58b0e0;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  margin-bottom: 6px;
  padding: 4px;
  text-align: center;
  width: 356px;
}
.activity-button {
  align-items: center;
  border: 4px solid #58b0e0;
  color: #58b0e0;
  font-size: 16px;
  height: 40px;
  padding-top: 6px;
  width: 356px;
}
.activity-button:hover {
  background-color: #58e087;
  border: 4px solid #58e087;
  color: white;
}

@media (min-width: 900px) {
  .activity input, .activity-sticky input {
    font-size: 26px;
    height: 60px;
    padding: 4px;
    width: 566px;
  }
  .activity-button {
    font-size: 26px;
    height: 60px;
    padding-top: 6px;
    width: 566px;
  }
}
@media (min-width: 1120px) {
  .activity input, .activity-sticky input {
    height: 60px;
    padding: 4px;
    width: 846px;
  }
  .activity-button {
    font-size: 36px;
    height: 60px;
    padding-top: 6px;
    width: 846px;
  }
}
