.calendar {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding-left: 20px;
}
.daybox {
  align-items: center;
  background-color: #a493f9;
  border: 2px solid black;
  border-radius: 10px;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 4px;

  margin-right: 1px;
  padding: 12px;
  text-align: center;
  width: 50px;
}
.select-week {
  background-color: #93d6f9;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 4px;
  margin-right: 1px;
  padding: 12px;
}
