.calendar {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
}
.daybox {
  align-items: center;
  background-color: #93d6f9;
  border: 4px solid #58b0e0;
  height: 50px;
  margin-bottom: 4px;
  margin-right: 1px;
  padding: 12px;
  text-align: center;
  width: 50px;
}
.select-week {
  background-color: #93f9b7;
  border: 4px solid #58e087;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1px auto;
  padding: 12px;
  text-align: center;
  width: 356px;
}
.weekdays {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
}

@media (min-width: 900px) {
  .daybox {
    align-items: center;
    background-color: #93d6f9;
    border: 4px solid #58b0e0;
    height: 80px;
    padding: 12px;
    text-align: center;
    width: 80px;
    margin: 4px;
  }
  .select-week{
    background-color: #93f9b7;
    border: 4px solid #58e087;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1px auto;
    padding: 12px;
    text-align: center;
    width: 610px;
  }
}
