.not-active {
  border: 3px solid #58e087;
  color: #58e087;
  cursor: pointer;
  height: 50px;
  margin-right: 1px;
  padding: 8px;
  text-align: center;
  width: 50px;
}

.active {
  background-color: #f993b4;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 50px;
  margin-right: 1px;
  padding: 6px;
  text-align: center;
  width: 50px;
}

.not-active:last-child {
  margin-right: 0px;
}

.active:last-child {
  margin-right: 0px;
}

@media (min-width: 900px) {
  .not-active {
    font-size: 20px;
    height: 80px;
    width: 80px;
  }
  .active {
    font-size: 20px;
    height: 80px;
    width: 80px;
  }
}

@media (min-width: 1120px) {
  .not-active {
    font-size: 36px;
    height: 120px;
    width: 120px;
  }
  .active {
    font-size: 36px;
    height: 120px;
    width: 120px;
  }
}
