.not-active {
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 1px;
  height: 50px;
  text-align: center;
  width: 50px;
}
.active {
  background-color: blue;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  height: 50px;
  margin-right: 1px;
  text-align: center;
  width: 50px;
}
