.not-active {
  border: 0.5px solid lightgrey;
  border-radius: 10px;
  color: #93d6f9;
  margin-right: 1px;
  height: 50px;
  padding: 12px;
  text-align: center;
  width: 50px;
  cursor: pointer;
}
.active {
  background-color: #f9b593;
  /* border: 2px solid black; */
  border-radius: 10px;
  color: white;
  font-size: 14px;
  height: 50px;
  margin-right: 1px;
  padding: 1px;
  cursor: pointer;
  text-align: center;
  width: 50px;
}
