.tablerow {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.tablerow h1 {
  font-size: 25px;
  line-height: 20px;
  padding-left: 20px;
  text-align: center;
  width: 200px;
}
.week {
  display: flex;
  flex-flow: wrap;

}
.week h1 {
  padding-right: 0px;
}

button{
 margin: 7px;
 background-color: #03a9f4c2;
 border: none;
 color: white;
 padding: 8px 15px;
 text-align: center;
 font-size: 14px;
 opacity: 0.6;
 transition: 0.3s;
 display: inline-block;
 text-decoration: none;
 cursor: pointer;
 border-radius: 5px;
}

button:hover {
  opacity: 1;
}
