.tablerow {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.tablerow h4 {
  font-size: 15px;
  margin: 5px;
  /* line-height: 20px; */
  /* padding: 0px 40px; */
  text-align: center;

}
.week {
  display: flex;
  flex-flow: wrap;

}
.week h1 {
  padding-right: 0px;
}

.removeButton button{
 margin: 2px;
 padding: 8px 11px;
 opacity: 0.6;
 transition: 0.3s;
 display: inline-block;
 text-decoration: none;
 cursor: pointer;
 border-radius: 100%;
}

button:hover {
  opacity: 1;
  background-color: #e06358;
}

.activityDetails {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
