.tablerow {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
}
.tablerow h4 {
  font-size: 15px;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
}
.week {
  display: flex;
  flex-flow: wrap;
  justify-content: center;

}
.week h1 {
  padding-right: 0px;
}
.removeButton button{
 margin: 2px;
 padding: 8px 11px;
 opacity: 0.6;
 transition: 0.3s;
 display: inline-block;
 text-decoration: none;
 cursor: pointer;
 border-radius: 100%;
}

button:hover {
  opacity: 1;
  background-color: #e06358;
}

.activity-details {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 350px;
}

@media (min-width: 700px) {
  .week {
    width: 100%;
  }
}
