.tablerow {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  padding-bottom: 20px;
}
.tablerow h4 {
  font-size: 15px;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
}
.week {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.week h1 {
  padding-right: 0px;
}
.remove-button button{
 margin: 2px;
 padding: 8px 11px;
 transition: 0.2s;
 display: inline-block;
 text-decoration: none;
 cursor: pointer;
 border-radius: 100%;
}

.remove-button button:hover {
  background-color: #f993b4;
}

.activity-details {
  align-items: center;
  background: #dcdcdc;
  display: flex;
  margin: 1px auto;
  justify-content: space-between;
  width: 355px;
}

@media (min-width: 700px) {
  .week {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .tablerow {
  

  }
}
